/*
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* Banner */

	#banner {
		padding-top: 165px;
		padding-bottom: 165px;
	}


@media screen and (min-width: 1281px) {
.footer-logo {
	padding-top: 10px;
	max-width: 100%;
	height: auto;
}