<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" ><img src="/images/jclogo-nav.png" class="nav-logo"/><!--{{ site.title }}--></a></h1>
    <nav id="nav">
        <ul>
            <!--<li><a href="{{ site.baseurl }}/#home">Home</a></li>-->
            <li><a href="{{ site.baseurl }}/#about">About</a></li>
            <li><a href="{{ site.baseurl }}/#team">Team</a></li>
            <!--<li><a href="{{ site.baseurl }}/#contact">Contact</a></li>-->
            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %}
            <li><a href="https://www.github.com/{{ site.github_username }}" class="icon fa-github"><span class="label">Github</span></a></li>
        </ul>
        <ul class="icons">
        </ul>
    </nav>
</header>
