<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <a name="home"></a> 
        <section id="banner">
            <div class="inner">
                <!--<h2>Jemcraft</h2>-->
                <img src="/images/jclogo-ds.png" class="logo-image"/>
                <p>We'll make your workflow smarter and easier to use.</p>
                <ul class="actions">
                    <li><a href="#about" class="button big special">About</a></li>
                    <li><a href="#team" class="button big alt">Team</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
